/* New and Improved */
.explore-container {
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    height: inherit;
}

.explore-sidebar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 15vw;
    height: -webkit-fill-available;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    background-color: #1c1c1c;
}

.explore-content {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    margin-left: 18vw;
    margin-right: 3vw;
    height: -webkit-fill-available;
}
.explore-playlists-grid {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 3vw;
    column-gap: 3vw;
    width: 100%;
    max-height: 80vh;
    overflow-y: auto;
    background: inherit;
}

.explore-playlist-image {
    width: 15vw;
    height: 15vw;
}

.explore-playlist-name {
    margin-bottom: 4vh;
}

.explore-back-button {
    background: linear-gradient(90deg, #FCC188 0%, #7042D2 65%, #2E008E 100%);
    color: white;
    border: none;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    width: 80%;
    text-align: left;
    border-radius: 12px;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.explore-back-button:hover {
    transform: scale(1.05);
    background-color: #444444; /*Change background on hover */
}